* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: purple;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}
